.form{
  width:60%;
}
.form .row{
  padding-bottom: 20px;
}
.table{
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  max-width: 80%;
  box-shadow: 0 0 20px rgb(0,0,0,0.15);
}
.head{
  background-color: #009879;
  color:#ffffff;
}
.btn{
  border: none;
  color:white;
  padding:5px 8px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  border-radius: 5px;
  font-size:16px;
  margin:4px 2px;
  cursor:pointer;
}
.btn-edit{
  background-color: #008cba;
}
.btn-delete{
  background-color:#f44336;
}